@using LicenceService.ViewModels
@model LicenceViewModel
@{
}

<h1>Create a New Licence</h1>

<form asp-controller="Licence" asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Name">Licence Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description">Licence Description</label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Cost">Licence Cost</label>
        <input asp-for="Cost" class="form-control" />
        <span asp-validation-for="Cost" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ValidityMonths">Licence Duration (Months)</label>
        <input asp-for="ValidityMonths" class="form-control" />
        <span asp-validation-for="ValidityMonths" class="text-danger"></span>
    </div>

    <button type="submit">Add Licence</button>
</form>